{{ partial "header.html" . }}


{{if .Params.cover}}
	{{if or (eq (substr .Params.cover 0 7) "http://") (eq (substr .Params.cover 0 8) "https://")}}
  <header class="main-header tag-head" style="background-image: url({{.Params.cover}})">
  {{ else }}
  <header class="main-header tag-head" style="background-image: url({{.Params.cover | relURL}})">
  {{ end }}
{{else if .Site.Params.cover}}
	 {{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header tag-head" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
  <header class="main-header tag-head" style="background-image: url({{.Site.Params.cover  | relURL}})">
  {{ end }}
{{else}}
	<header class="main-header tag-head no-cover">
{{end}}


    <nav class="main-nav overlay clearfix">
      <ul>
        {{ range .Site.Menus.main }}
			<li> <a class="blog-logo" href="{{ .URL }}">{{ .Name }}</a> </li>
			  {{ end }}

            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
            
      
       </ul>
    </nav>
    <div class="vertical">
                <div class="main-header-content inner">
            {{ partial "social.html" . }}
            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
</header>

<main class="content" role="main">
  
    {{ $paginator := .Paginator }}
   <!-- <h1 class="tag-title">#{{.Title}}</h1> -->
	<div class="extra-pagination inner">
	  
    {{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ partial "li.html" . }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}