<aside class="read-next">
  {{ with .NextInSection }}
      <a class="read-next-story" style="no-cover" href="{{ .RelPermalink }}">
          <section class="post">
              <h5>{{.Title}}</h5>
              <!-- <p>{{ substr .Summary 0  }}</p> -->
          </section>
      </a>
  {{ end }}
  {{ with .PrevInSection }}
      <a class="read-next-story prev" style="no-cover" href="{{ .RelPermalink }}">
          <section class="post">
              <h5>{{.Title}}</h5>
          </section>
      </a>
      {{end}}

</aside>
